<a href="https://colab.research.google.com/github/mastermarling/Python-04-25-2021-/blob/main/2_%E8%B3%87%E6%96%99%E5%9E%8B%E6%85%8B(data_Type)%E5%8F%8A%E5%85%B6%E9%81%8B%E7%AE%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1_數值(Numeric)資料及其運算

Python 支持三種不同的數值型別(Data Type)：
[1]Int 整數，是可以是正或負整數，不帶小數點。
Python3  int是沒有限制大小的，可以當作 Long 類型使用，所以 Python3 沒有 Python2   的 Long 類型。
[2]浮點數(float) :由整數部分與小數部分組成，浮點型也可以使用科學計數法表示（2.5e2 = 2.5 x 10 0 = 250）

[3]複數( (complex)) - 複數由實數部分和虛數部分構成，可以用a + bj,或者complex(a,b)表示， 
                     複數的實部a和虛部b都是浮點型。

In [1]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [2]:
x = 5
print(x > 3 and x < 10)

True

# 內建函式: round()函數的測試

In [6]:
x = round(5.76543, 2)
print(x)


# Round to the nearest integer:
y = round(5.76543)
print(y)

5.77
6

# Python 型態轉換

資料類型的轉換只需要將資料類型作為函數名即可。

int(x) 將x轉換為一個整數。

float(x) 將x轉換到一個浮點數。

complex(x) 將x轉換到一個複數，實數部分為 x，虛數部分為 0。

complex(x, y) 將 x 和 y 轉換到一個複數，實數部分為 x，虛數部分為 y。x 和 y 是數字運算式。

In [7]:
a = 1.0004
int(a)

b = 0.9999
int(a)

1

# 2_字串(string)及其運算

# 字串(string)

In [8]:
var1 = 'Hello Python!'

print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8]) # Slicing 切片運算

var1[0]:  H
var1[1:8]:  ello Py

In [9]:
b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2]) # Negative Indexing

llo
Hello
llo, World!
orl

In [13]:
str1='happy python day'
str2='    Oh!   '

str4=str1 + str2   # 字串串接String Concatenation運算

print(str4.capitalize())

mystr = 'python'

Happy python day    oh!

# 3_列表(list)資料及其運算

 LIST是 Python 中最基本的資料結構。

LIST使用一個方括號內的逗號分隔值出現。

LIST的每個值都有對應的位置，稱之為索引( index)，

第一個索引是 0，第二個索引是 1，依此類推。

LIST都可以進行的操作包括索引，切片，加，乘，檢查成員。

Python 內建許多函數: 

1.len(list):元素個數

2.max(list)返回元素最大值

3.min(list):返回元素最小值

In [22]:
list1 = [21, 33, 14, 12, 32, 98]

print(list1[1])

print(list1[-2])

print(list1[1:3])

33
32
[33, 14]

In [23]:
list1 = [21, 33, 14, 12, 32, 98]

print(len(list1))
print(max(list1))
print(min(list1))
print(sum(list1))

6
98
12
210

# 4_字典(dict)資料及其運算

字典的每筆資料都使用key(鍵)=>value(值) pair(對)

每筆資料都使用冒號 : 分割

每對之間用逗號(,)分割，

整個字典包括在花括弧 {} 

key(鍵)必須是唯一的，但value(值)則不必。

Python 內建許多函數: 

    len(dict):計算字典元素個數，即鍵的總數。


Python 內建許多方法(Method):

字典.items():以列表返回LIST陣列

字典.keys():返回所有keys

字典.values():返回所有values

In [24]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
f = dict({'one': 1, 'three': 3}, two=2)
a == b == c == d == e == f

True

In [25]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}

print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  DaDaLong
dict['Age']:  17

In [26]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
dict.items()

dict_items([('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')])

In [27]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.items())
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.keys())

['Name', 'Age', 'Class']

In [28]:
alphas= []
for num in range(97,123):
    alpha = chr(num)
    alphas.append(alpha)
  
ascii_a2z = {alpha: ord(alpha) for alpha in alphas}
ascii_a2z

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}